/* .bg-image {
  background-image: url('assets/img/background.png');
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;              
}
 */ /* revisar esto para poder poner la imagen de fondo */
footer {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
body {
  height: auto;
  font-family: 'Ubuntu';

}
#explanation_text {
  font-size: 20px;
}